<form name="Form" #f="ngForm" (ngSubmit)="onSubmit(f);">
  <div class="form-group">
    <label for="short_description">Description</label>
    <input type="text" class="form-control" name="short_description" ngModel="{{dataResult.result?.short_description}}">
    <small id="emailHelp" class="form-text text-muted">Please decribe the problem</small>
  </div>
  <!-- <div class="form-group">
    <label for="comments">Comments</label>
    <input type="text" class="form-control" name="comments" ngModel="{{dataResult.result?.comments}}">
  </div> -->
  <div class="form-group">
      <div ng-non-bindable="" class="hidden">
        <label for="comments">Urgency</label>
        <input type="hidden" id="sys_original.urgency" name="sys_original.urgency" value="1"></div>
      <select aria-required="false" aria-labelledby="label.urgency" ng-non-bindable="true" name="urgency" id="urgency"
        ngModel="{{dataResult.result?.urgency}}" class="form-control" aria-readonly="false">
        <option value="1" selected="SELECTED">1 - High</option>
        <option value="2">2 - Medium</option>
        <option value="3">3 - Low</option>
      </select>
    </div>
      <div class="form-group">
        <label for="state">State</label>
        <div ng-non-bindable="" class="hidden"><input type="hidden" id="sys_original.state" name="sys_original.state"
            value="3"></div><select aria-required="false" aria-labelledby="label.state" ng-non-bindable="true" name="state"
          id="state" ngModel="{{dataResult.result?.state}}" class="form-control" aria-readonly="false">
          <option value="1">New</option>
          <option value="2">In Progress</option>
          <option value="3" selected="SELECTED">On Hold</option>
          <option value="6">Resolved</option>
          <option value="7">Closed</option>
          <option value="8">Canceled</option>
        </select>
      </div> 

      <div class="form-group">
        <label for="caller_id">Caller</label>
        <div ng-non-bindable="" class="hidden"><input type="hidden" id="sys_original.caller_id" name="sys_original.caller_id"
            value="3"></div><select aria-required="false" aria-labelledby="label.caller_id" ng-non-bindable="true" name="caller_id"
          id="caller_id" ngModel="{{dataResult.result?.caller_id.value}}" class="form-control" aria-readonly="false">
          <option value="02826bf03710200044e0bfc8bcbe5d3f">Lucius Bagnoli</option>
          <option value="02826bf03710200044e0bfc8bcbe5d55">Jimmie Barninger</option>
          <option value="02826bf03710200044e0bfc8bcbe5d5e" selected="SELECTED">Melinda Carleton</option>
          <option value="02826bf03710200044e0bfc8bcbe5d64">Jewel Agresta</option>
          <option value="">Harsha Chennuru</option>
        </select>
      </div> 
  <button type="submit" class="btn btn-primary">Update</button>
</form>
